.root {
    -fx-font-size: 16px;
    -fx-background-color: #EDF2F7;
}

.header {
    -fx-pref-height: 70px;
    -fx-padding: 0 20px 0 20px;
    -fx-background-color: #fff;
}

.header .title {
    -fx-text-fill: #805AD5;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.bordered-pane {
    -fx-border-style: solid;
    -fx-padding: 10px;
}

.bg-white {
    -fx-background-color: #fff;
}

.bg-primary {
    -fx-background-color: #805AD5;
}

.text-primary {
    -fx-text-fill: #805AD5;
}

.jfx-button {
    -fx-pref-height: 40px;
}

.jfx-button.btn-primary {
    -fx-background-color: #805AD5;
    -fx-text-fill: #fff;
}

.jfx-button.btn-white {
    -fx-background-color: #fff;
    -fx-border-style: solid;
    -fx-border-color: #e2e8f0;
}

.jfx-text-field,
 .jfx-date-picker {
    -fx-background-color: #fff;
    -fx-padding: 2px 8px 2px 8px;
    -fx-pref-height: 40px;
}

.jfx-text-field {
    -jfx-label-float: true;
    -jfx-focus-color: #805AD5;
}

.jfx-text-field .input-focused-line,
 .jfx-date-picker .input-focused-line{
    -fx-border-color: #805AD5;
    -fx-background-color: #805AD5;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #805AD5;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #805AD5;
}
